player-connection-mode=Connect
player-connection-guid=3125836737
player-connection-debug=0
player-connection-project-name=BuildingGraphs
player-connection-wait-timeout=-1
player-connection-ip=192.168.0.226
profiler-enable=1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=6a1e39fa79f54d519dbcc35a8ecc2e96
